name: DockerCI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v3
    - name: Build
      run: |
        docker build . -t nihalwasim/k8s-watcher:latest
    - name: Publish
      run: |
        docker login -u nihalwasim -p ${{ secrets.DOCKER_HUB }}
        docker push nihalwasim/k8s-watcher:latest
